[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gspread = "*"
boto3 = "*"
pytz = "*"
polars = "*"
bpython = "*"
s3fs = "*"
xlsxwriter = "*"
scikit-learn = "*"
numpy = "*"
tqdm = "*"
plotly = "*"
nbformat = "*"
ipykernel = "*"
orjson = "*"
psutil = "*"
pyarrow = "*"
pandas = "*"
watchdog = "*"
hnswlib = "*"
lupa = "*"

[dev-packages]

[requires]
python_version = "3.12"
