[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gspread = "*"
boto3 = "*"
pytz = "*"
polars = "==0.20.29"
bpython = "*"
s3fs = "*"
xlsxwriter = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]
guppy3 = "*"

[requires]
python_version = "3.12"
